/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --text-color: #000;
  --title-font-weight: 700;
  --text-font-weight: 400;
  --background-color: #fff;
  --background-gradient: #d3d3d3;
  --background-color-start: #e7e7e7;
  --background-color-end: #1a1a1a;
  --text-color-disabled: rgb(0, 0, 0, 0.6);
  --accent-color: rgb(255, 0, 0, 1);
  --button-text-color: #fff;
}

:root.theme-dark {
  --text-color: #00cc14;
  --title-font-weight: 785;
  --text-font-weight: 465;
  --background-color: #000;
  --background-gradient: #000;
  --background-color-start: #007f0c;
  --background-color-end: #004306;
  --text-color-disabled: rgb(0, 204, 20, 0.6);
  --accent-color: rgb(255, 0, 0, 1);
  --button-text-color: #00cc14;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --background-color: #fff;
    --background-gradient: #d3d3d3;
    --background-color-start: #e7e7e7;
    --background-color-end: #1a1a1a;
    --text-color-disabled: rgb(0, 0, 0, 0.6);
    --accent-color: rgb(255, 0, 0, 1);
    --button-text-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #00cc14;
    --title-font-weight: 785;
    --text-font-weight: 465;
    --background-color: #000;
    --background-gradient: #000;
    --background-color-start: #007f0c;
    --background-color-end: #004306;
    --text-color-disabled: rgb(0, 204, 20, 0.6);
    --accent-color: rgb(255, 0, 0, 1);
    --button-text-color: #00cc14;
  }
}